@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: rgb(45, 45, 45);
    background:
            linear-gradient(90deg,rgb(45,45,45) 50%,
                transparent 50%) center center / 100% 100%,
                url(https://images.unsplash.com/photo-1575507371089-cd0a12c5aae9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80) right center / auto 100%;
}
.container{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: auto;
}

.banner-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.banner-text h1{
    font-size: 50px;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.banner-text h2{
    font-size: 30px;
}
.banner-text h1 p{
    display: block;
    font-size: 25px;
}

.banner-form {
    background-color: none;
    max-width: 550px;
    margin: 5% auto;
    padding: 50px 45px;
    box-shadow: 0px 2px 10px, rgb(0, 0, 0);
}

form label {
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
    line-height: 50px;
    display: inline-block;
    width: 120px;
}

.sign-in-bottom{
    font-size: 20px;
    position: relative;
    top: 50px;
    right: 55px;
    text-decoration: none;
    color: white;
    width: 80px;
    height: 40px;
    background: rgb(251, 72, 1) ;
    padding: 5px;
}

@media screen and (min-width:768px){
    
    .banner-text h1{
    margin: 0 43px;
}
    .banner-text h2{
    margin: 0 43px;
}
    .banner-text p{
    margin: 0 43px;
}
    form{
        margin: 0 43px;

    }

}